<?xml version="1.0"?>
<!--
/**
 * @category  Koene
 * @package   Koene_AdyenGraphQl
 * @author    Ivans Zuks <info@scandiweb.com>
 * @copyright Copyright (c) 2020 Scandiweb, Inc (https://scandiweb.com)
 * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ScandiPWA\QuoteGraphQl\Model\Resolver\PlaceOrder">
        <plugin name="add_adyen_data" type="Koene\AdyenGraphQl\plugin\AfterPlaceOrderResolver" sortOrder="20"/>
    </type>

    <preference for="Koene\AdyenGraphQl\Api\AdyenPaymentMethodManagementInterface"
                type="Koene\AdyenGraphQl\Model\AdyenPaymentMethodManagement"/>
    <preference for="Koene\AdyenGraphQl\Api\AdyenPaymentManagementInterface"
                type="Koene\AdyenGraphQl\Model\AdyenPaymentManagement"/>

    <virtualType name="ScandiPWA\Router\Controller\ConfigurableRouter">
        <arguments>
            <argument name="ignoredURLs" xsi:type="array">
                <item name="adyenscandipwa" xsi:type="string">^/adyenscandipwa/.*</item>
            </argument>
        </arguments>
    </virtualType>

</config>
